# Created by venv; see https://docs.python.org/3/library/venv.html

__pycache__/
*.pyc
.venv/

# Variáveis de ambiente
.env
.env.*

# Cache de ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Banco de dados local (se usar SQLite)
*.db
*.sqlite
*.sqlite3
